/**
 * @file
 * Title: Simple By Design
 * Description: A Simple and Clean Theme for AMP
 * Author: Daniel Elliott (ssfdre38)
 * Platform: For AMP (Application Management Panel) By Cubecoders Limited
 * Version: 1.0.0 For AMP 2.5.1.4
 **/

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

.yourElement {
    animation: fadeIn 2s;
}

/*Background Image*/
body {
    background: white;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: bottom center;
}

/*Login Screen*/
#loginContainer {
    background: rgba(0, 0, 0, 0.25) !important;
    animation: fadeIn 2s;
    border-radius: 6px !important;
    display: flex;
    flex-direction: column; /* Stack children vertically */
    align-items: center;
    justify-content: center;
    position: relative;
    width: 500px !important; /* Adjust width as needed */
}

#loginLogo {
    display: block; /* Ensure it is displayed */
    margin-bottom: auto; /* Push it to the top */
}

#loginLogo img {
    animation: fadeIn 2s;
}

h2 {
    color: white;
    font-size: 1.5em;
    margin: 0;
}

h4 {
    color: white;
    font-size: 1em;
    margin: 0;
}

h6 {
    color: white;
    font-size: 0.8em;
    margin: 0;
}

#loginForm {
    border-radius: 6px !important;
    margin-top: auto; /* Push it to the bottom */
    width: 450px; /* Adjust width as needed */
    align-items: center !important;
}

/* Login Loader */
.loader,
#loginSpinner {
    margin: 0 auto; /* Center horizontally */
    display: none; /* Hide initially */
}

.loader2 {
    top: -71px;
    left: -11px;
    scale: 80%;
    animation: load8 4s infinite alternate;
}

.loader,
.loader2,
.loader:after,
.loader2:after {
    border-radius: 50%;
    width: 10em;
    height: 10em;
}

/*Instances Box*/
.InstanceList {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    grid-gap: 12px;
    padding: 8px;
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.5);
}

/*Instances*/
.InstanceList .ServerEntry {
    height: 210px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    cursor: pointer;
    position: relative;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.3), transparent);
    box-sizing: border-box;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.7);
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
}

/*Instance Guide Box*/
.InstanceList .ServerEntry.GuidePrompt {
    background-color: transparent;
    pointer-events: none;
    text-align: left;
    padding-left: 8px;
}

/*Instance Creation*/
.InstanceList .ServerEntry.NewServerEntry {
    background-color: steelblue;
    text-align: center;
    border-radius: 8px;
}
